<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="shortcut icon" href="weather.png" type="image/x-icon">
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        Use this site to get the weather
        <form id="locationForm">
            <input type="text" placeholder="Location" id="search">
            <button>Search</button>
        </form>
    </div>
    {{>footer}}
    <script src="./scripts/app.js"></script>
</body>
</html>